doctype html
html(ng-app="hokuiApp")
    base(href="/")
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
    title(bind-title) 北医ネット
    <!-- directive: meta -->
    <!-- inject:css -->
    <!-- endinject -->
    body
        div(ng-include="'/component/navbar/navbar.html'")
        div(ng-include="'/component/notify/notify.html'")
        #root(ui-view)
        <!-- bower:js -->
        <!-- endinject -->
        <!-- inject:js -->
        <!-- endinject -->
