doctype html
html
    meta(charset='utf-8')
    title hokui.net
    base(href="/")
    <!-- injector:css -->
    <!-- endinjector -->
    <!-- bower:js -->
    <!-- endbower -->
    <!-- injector:js -->
    <!-- endinjector -->
    body(ng-app='hokuiApp')
        div(ui-view)
