doctype html
html(ng-app="hokuiApp")
    meta(charset="utf-8")
    title 北医ネット
    <!-- inject:css -->
    <!-- endinject -->
    body
        div(ng-include="'/app/nav/nav.html'")
        div(ng-include="'/app/notify/notify.html'")
        div(ui-view)
        <!-- bower:js -->
        <!-- endinject -->
        <!-- inject:js -->
        <!-- endinject -->
