
$navbar-bg: rgba($body-bg, .9)
$navbar-color: $link-color
$navbar-active-bg: rgba(240, 240, 240, .9)
$navbar-active-color: $link-color

$navbar-box-shadow: 0 0 2px rgba(#000, .1)


$navbar-height: 64px
$navbar-height-sm: 44px
$navbar-height-xs: 44px
$navbar-z: 99


$navbar-collapsed-item-height: 20


=adjust-height
    height: $navbar-height
    line-height: $navbar-height
    @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max)
        height: $navbar-height-sm
        line-height: $navbar-height-sm
    @media (max-width: $screen-xs-max)
        height: $navbar-height-xs
        line-height: $navbar-height-xs

.navbar
    position: fixed
    top: 0
    left: 0
    right: 0
    z-index: $navbar-z
    box-shadow: $navbar-box-shadow
    background-color: $navbar-bg


    padding-left: 16px
    padding-right: 16px
    @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max)
        padding-left: 8px
        padding-right: 8px
    @media (max-width: $screen-xs-max)
        padding-left: 16px
        padding-right: 16px

    +adjust-height

=topfix($gutter: 8px)
    padding-top: $navbar-height + $gutter
    @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max)
        padding-top: $navbar-height-sm + $gutter
    @media (max-width: $screen-xs-max)
        padding-top: $navbar-height-xs + $gutter

.topfix
    +topfix


.navbar__brand
    float: left

    margin-left: 32px
    font-size: 40px
    color: $gray-dark
    &:hover,&:active,&:focus
        color: $gray-dark
    +anchor-non-decoration($gray-dark)
    +adjust-height

    @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max)
        font-size: 22px
    @media (max-width: $screen-xs-max)
        font-size: 22px
        margin-left: 0

.navbar__items
    padding-left: 0
    height: $navbar-height
    margin: 0
    float: right

    @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max)
        height: $navbar-height-sm
    @media (max-width: $screen-xs-max)
        height: auto
        margin: 0
        position: absolute
        float: none
        left: 0px
        right: 0px
        top: $navbar-height-xs

        // border-top: 1px solid #ccc
        box-shadow: $navbar-box-shadow

.navbar__items.navbar__items--collapsed
    border: 0
    box-shadow: 0
    height: 0px
    .navbar__items__item
        @media (max-width: $screen-xs-max)
            height: 0px



=navbar-item-a-after-active
    &:after
        height: 3px
        @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max)
            height: 2px

    @media (max-width: $screen-xs-max)
        color: $body-bg
        background-color: $brand-primary



.navbar__items__item
    float: left
    font-size: 18px
    height: $navbar-height
    line-height: $navbar-height
    @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max)
        font-size: 16px
        height: $navbar-height-sm
        line-height: $navbar-height-sm
    @media (max-width: $screen-xs-max)
        height: $navbar-collapsed-item-height
        line-height: $navbar-collapsed-item-height
        float: none
        background-color: $navbar-bg
        font-size: 16px
        overflow: hidden

        transition: height ease-in-out .3s


    +adjust-height


    & > a
        position: relative
        display: block
        padding: 0 16px
        @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max)
            padding: 0 12px
        @media (max-width: $screen-xs-max)
            padding: 0 8px
            transition: background-color ease-in-out .1s, color ease-in-out .1s
        color: $navbar-color
        border-bottom-style: solid
        border-bottom-width: 2px
        border-bottom-color: transparent


        +anchor-non-decoration

        @media (min-width: $screen-sm-min)
            &:after
                position: absolute
                content: ''
                height: 0
                background-color: $brand-primary
                top: auto
                left: 0
                right: 0
                bottom: 8px

                transition: height ease-in-out .2s


.navbar__items__item--active>a, .navbar__items__item>a:hover
    +navbar-item-a-after-active


$navbar-collapse-button-size: 28px


.navbar__collapse-button
    +button-non-decoration
    outline: 0
    float: right
    height: $navbar-collapse-button-size
    margin-top: ($navbar-height-xs - $navbar-collapse-button-size) / 2

    @media (min-width: $screen-sm-min)
        display: none

.baricon--navbar
    +baricon-variant($navbar-collapse-button-size, #ccc)

