
.clearfix
    +clearfix

.center-block
    +center-block

.pull-right
    float: right !important

.pull-left
    float: left !important

.text-hide
    +text-hide

.mono
    font-family: $font-family-monospace

.serif
    font-family: $font-family-serif
