.navbar(ng-controller="NavCtrl")
    a.navbar__brand(ui-sref="home")
        | H
        span.accent-text O
        | KUI.NET

    button.navbar__collapse-button(ng-click="collapsed = !collapsed", ng-blur="collapsed = true")
        .baricon.baricon--navbar(ng-class="{'baricon--bars': collapsed, 'baricon--times': !collapsed}")
            .baricon__bar
            .baricon__bar
            .baricon__bar

    .navbar__items(ng-class="{'navbar__items--collapsed': collapsed}")
        .navbar__items__item(ng-repeat="item in items", ng-class="navClass(item)", ng-if="isVisible(item)")
            a(ng-href="{{getHref(item)}}", ng-click="navEvent(item)") {{item.label()}}
