.topfix.admin.container
    ul.nav.nav-tabs(role="tablist")
        li(ng-repeat="item in items", ng-class="{active: isActive(item.state)}")
            a(ui-sref="{{item.state}}") {{item.title}}


    div.admin-view(ui-view="main")

