h2 管理画面トップ

h3
    a(ui-sref="admin.user") ユーザー
h4 できること
ul
    li 取得
    li 管理人の認証(approve)
    li ユーザーの削除

h3
    a(ui-sref="admin.year") 期/学期
h4 できること
ul
    li 取得
    li 追加
    li 変更
    li 削除

h3
    a(ui-sref="admin.subject") 教科
h4 できること
ul
    li 無し
        small ※未実装


