h2 管理画面トップ

h3
    a(ui-sref="admin.user") ユーザー
p
    strong 取得
    | 、
    strong 管理人の認証(approve)
    | 、
    strong ユーザーの削除
    | をすることができます。

h3
    a(ui-sref="admin.year") 学年
p
    strong CRUD
    | できます。


h3
    a(ui-sref="admin.subject") 教科
p
    strong CRUD
    | できます。

h3
    a(ui-sref="admin.semester") 学期
p
    strong CRUD
    | できます。

