h3
    a(ui-sref="admin.user") ユーザー
p
    strong 取得
    | 、
    strong 管理人の認証(approve)
    | 、
    strong 削除
    | をすることができます。

h3
    a(ui-sref="admin.year") 学年
p
    | 93期以降から作成可能です。

h3
    a(ui-sref="admin.subject") 教科
p
    | 英語名には
    strong 半角英数字と「_(アンダーバー)」
    | のみ設定できます。教科のページのURLに使われるので慎重に設定しましょう。

h3
    a(ui-sref="admin.semester") 学期
p
    | 各学年のセメスター(前期・後期)ごとの履修科目のマップです。

