table.table.table-bordered
    thead
        tr
            th id
            th is_admin
            th birthday
            th email
            th email_mobile
            th full_name
            th graduation_year_id
            th handle_name
    tbody
        tr(ng-repeat="user in users")
            td {{user.id}}
            td {{user.admin}}
            td {{user.birthday}}
            td {{user.email}}
            td {{user.email_mobile}}
            td {{user.full_name}}
            td {{user.graduation_year_id}}
            td {{user.handle_name}}


