.container
    h1 おしらせ一覧
    table.table.table--bordered
        tr(ng-repeat="news in newss.original")
            th(style="width: 160px") {{news.created_at | date:'yyyy年M月d日'}}
            td
                a(ui-sref="news.detail({id: news.id})") {{news.title}}
