a.btn.btn--xs(ui-sref="admin.subject") 一覧に戻る

div(ng-if="!!subject.id")

    ul.list-inline
        li
            h3 {{subject.title_ja}} - {{subject.title_en}}
        li
            a.btn.btn--sm.btn--primary(ui-sref=".edit") 編集
        li
            button.btn.btn--sm.btn--accent(type="button", ng-click="deleteSubject()") {{deleteBtnLabel()}}
                span(ng-show="!deleting") 削除する
                span(ng-show="deleting") マジで削除する

        li(ng-if="deleting")
            button.btn.btn--sm(type="button", ng-click="stopDeleting()") やっぱりやめる

    table.table.table--bordered
        tr
            th ID
            td {{subject.id}}
        tr
            th 名前
            td {{subject.title_ja}}
        tr
            th 名前(英語)
            td {{subject.title_en}}
        tr
            th 開講期
            td
                a(ui-sref="admin.semester({subject:subject.title_en})") {{subject.title_ja}}の開講期
        tr
            th 作成
            td {{subject.created_at | date:'yyyy年MM月dd日HH時mm分'}}
        tr
            th 更新
            td {{subject.updated_at | date:'yyyy年MM月dd日HH時mm分'}}

div(ui-view="edit")
