a(ui-sref=".detail.edit({id: ''})") 新規作成
table.table
    thead.table__head
        tr
            th ID
            th 名前
            th 名前(英語)
            th 開講期
    tbody.table__body
        tr(ng-repeat="subject in subjects")
            td {{subject.id}}
            td
                a(ui-sref="admin.subject.detail({id:subject.id})")
                    | {{subject.title_ja}}
            td
                | {{subject.title_en}}
            td
                a(ui-sref="admin.semester({subject:subject.title_en})") {{subject.title_ja}}の開講期
