div(ng-include='"/components/navbar/navbar.html"')

h3(ng-if="current.active") you are active as {{current.user.handle_name}}
h3(ng-if="!current.active") you are inactive
p token:{{Token.get()}}
p {{params}}
.well
    form(role="form", ng-submit="performLogin()")
        .form-group
            label(for="loginInputEmail") Email address
            input.form-control(type="email", placeholder="Enter email", id="loginInputEmail", ng-model="email", ng-init="email='admin@ec.hokudai.ac.jp'")
        .form-group
            label(for="loginInputPassword") Password
            input.form-control(type="password", id="loginInputPassword", placeholder="Password", ng-model="password", ng-init="password='admin'")
        button.btn.btn-primary(type="submit") Login

