h1 資料トップ
p
    span(ng-if="Resposive.xs") 上
    span(ng-if="!Resposive.xs") 左
    | のメニューから教科を選んでください。

h2 教科を検索する
p 履修前の科目も検索することできます。お探しの教科がメニューに無い場合はご利用ください。
p
    input.search(
        placeholder="教科名の日本語 or 英語"
        ng-model="subjectFilter.value"
        ng-change="searchSubject()"
        ng-model-options="{ debounce: {'default': 500, 'blur': 0} }")

p {{filterMessage}}
ul
    li(ng-repeat="subject in filteredSubject")
        a(ui-sref="study.subject({subjectName: subjectMap[subject.id].title_en})") {{subject.title_ja}}



//- h4 分類について

//- ol
//-     li
//-         | アップロードする際に、「年度」「試験名」「本試・追試の区別」「解答付きの有無」を入力してください。
//-         | 個人で作成した模範解答例もこちらに上げてください。その際、「説明」に文責を入力してください。

//-     li 小テスト

//-     | アップロードする際に、「年度」「回」「解答付きの有無」を入力してください。
//-     | 個人で作成した模範解答例もこちらに上げてください。その際、「説明」に文責を入力してください。

//-     li 授業資料
//-         | アップロードする際に、「年度」「回」を入力してください。

//-     li 個人作成資料
//-         | 上記の項目に当てはまらないものはすべてこちらに上げてください。
//-         | 個人作成資料に限り、「説明」は必須項目です。文責、および簡単な内容説明をお願いします。
