.topfix
.v-spacer
.row
    .col--sm-12.col--md-9.col--xs-12.pull-right
        div(ui-view="main")

    .col--sm-12.col--md-3.col--xs-12.col--no-gutter
        .col--xs-6.col--sm-12(ng-repeat-start="menuItem in menuItems")
            .toggle-menu
                .toggle-menu__toggler
                    a(ng-click="toggleMenu(menuItem)")
                        i.fa.fa-lg.fa-angle-right.toggle-menu__toggler__icon(ng-class="{'fa-rotate-90': menuItem.open}")
                        | &nbsp;
                        | {{identifierMap[menuItem.semester.identifier]}}
                .toggle-menu__content(ng-class="{'toggle-menu__content--shown': menuItem.open}")
                    ul
                        li(ng-if="menuItem.semester.subject_ids.length < 1")
                            span.text-muted
                                | 教科が登録されていません
                        li(ng-repeat="subject_id in menuItem.semester.subject_ids")
                            a(ui-sref="study.subject({subjectName: subjectMap[subject_id].title_en})")
                                | {{subjectMap[subject_id].title_ja}}

        .clearfix.visible-xs-block(ng-repeat-end ng-if="$odd")
