.notify
    z-index: 100
    position: fixed
    top: auto
    bottom: 0
    left: 50%
    transform: translate(-50%, 0px)
    @media (min-width: $screen-sm-min)
        width: 700px
    width: 80%

    & > .alert-container
        position: absolute
        top: 0
        transition: transform .4s ease-out
        transform: translateY(0)
        width: 100%
        .alert
            margin: 0 0 20px


    &.notify-shown
        & > .alert-container
            transform: translateY(-100%)
