div(ng-if="!!classYear.id")
    ul.list-inline
        li
            h3 {{classYear.year}}期
        li
            a.btn.btn--sm.btn--primary(ui-sref=".edit") 編集
        li
            button.btn.btn--sm.btn--accent(type="button", ng-click="deleteClassYear()") {{deleteBtnLabel()}}
                span(ng-show="!deleting") 削除する
                span(ng-show="deleting") マジで削除する
        li(ng-if="deleting")
            button.btn.btn--sm(type="button" ng-click="stopDeleting()") やっぱりやめる

    table.table.table--bordered
        tr
            th ID
            td {{classYear.id}}
        tr
            th 期
            td {{classYear.year}}期
        tr
            th カリキュラム
            td
                a(ui-sref="admin.semester({year:classYear.year})") {{classYear.year}}期のカリキュラム
        tr
            th 作成
            td {{classYear.created_at | date:'yyyy年MM月dd日HH時mm分'}}
        tr
            th 更新
            td {{classYear.updated_at | date:'yyyy年MM月dd日HH時mm分'}}

div(ui-view="edit")
