a(ui-sref="admin.year.detail.edit({id: ''})") 新規作成

table.table
    thead.table__head
        tr
            th ID
            th 期
            th カリキュラム
    tbody.table__body
        tr(ng-repeat="year in years")
            td {{year.id}}
            td
                a(ui-sref="admin.year.detail({id:year.id})")
                    | {{year.year}}期
            td
                a(ui-sref="admin.semester({year:year.year})") {{year.year}}期のカリキュラム
