ul.list-inline
    li
        a.btn.btn--sm.btn--primary(ui-sref=".detail.edit({id: ''})") 新規作成

table.table.table--condensed
    thead.table__head
        tr
            th ID
            th 期
            th カリキュラム
    tbody.table__body
        tr(ng-repeat="classYear in classYears")
            td {{classYear.id}}
            td
                a(ui-sref="admin.year.detail({id:classYear.id})")
                    | {{classYear.year}}期
            td
                a(ui-sref="admin.semester({class_year:classYear.year})") {{classYear.year}}期のカリキュラム
