a.btn.btn--xs(ui-sref="admin.user") 一覧に戻る

div(ng-if="!!user.id")

    ul.list-inline
        li
            h3 {{user.handle_name}}
        li
            button.btn.btn--sm.btn--primary(ng-disabled="!approvable(user)" ng-click="doApproveUser(user)") Approve
        li
            button.btn.btn--sm.btn--accent(ng-click="deleteUser(user)") {{deleteBtnLabel()}}
        li
            button.btn.btn--sm(ng-if="deleting" ng-click="stopDeleting()") やっぱりやめる


    table.table.table--bordered
        tbody
            tr
                th ID
                td {{::user.id}}
            tr
                th ハンドルネーム
                td {{::user.handle_name}}
            tr
                th 氏名
                td {{::user.full_name}}
            tr
                th 学年
                td {{::getClassYearLabel(user)}}期
            tr
                th 管理者
                td {{::user.admin}}
            tr
                th アクティベーション
                td {{::user.activation_state}}
            tr
                th アプローバル
                td {{::user.approval_state}}
            tr
                th メールアドレス
                td {{::user.email}}
            tr
                th 携帯メールアドレス
                td {{::user.email_mobile}}
            tr
                th 誕生日
                td {{::user.birthday | date:'yyyy年MM月dd日'}}
            tr
                th 登録日時
                td {{::user.created_at | date:'yyyy年MM月dd日HH時mm分ss秒'}}
            tr
                th 更新日時
                td {{::user.updated_at | date:'yyyy年MM月dd日HH時mm分ss秒'}}


            tr
                th 最終アクティビティ
                td {{::user.last_activity_at | date:'yyyy年MM月dd日HH時mm分ss秒'}}
            tr
                th 最終ログイン
                td {{::user.last_login_at | date:'yyyy年MM月dd日HH時mm分ss秒'}}
            tr
                th 最後にログインしたIPアドレス
                td {{::user.last_login_from_ip_address}}
            tr
                th 最終ログアウト
                td {{::user.last_logout_at | date:'yyyy年MM月dd日HH時mm分ss秒'}}
