
table.table.table--bordered.table--condensed
    tr
        th.text-small
            nobr 状態
        td
            ul.tips.tips--nomargin
                li.tip(ng-class="{'tip--active': !stateFilter.active()}")
                    a(ng-click="stateFilter.active(false)") すべて
                li.tip(ng-class="{'tip--active': f.active()}" ng-repeat="f in stateFilter.children()")
                    a(ng-click="f.active(true)") {{::f.label}}
    tr
        th.text-small
            nobr 学年
        td
            ul.tips.tips--nomargin
                li.tip(ng-class="{'tip--active': !classYearFilter.active()}")
                    a(ng-click="classYearFilter.active(false)") すべて
                li.tip(ng-class="{'tip--active': f.active()}" ng-repeat="f in classYearFilter.children()")
                    a(ng-click="f.active(true)") {{::f.label}}
    tr
        th.text-small
            nobr
                span.hidden-to-xs ハンドルネーム
                span.hidden-from-sm HN
                | /氏名
        td
            input.search.search--condensed(type="text" ng-model="nameFilter.value" placeholder="正規表現が使えます")

table.table.table--condensed
    thead.table__head
        tr
            th
                a.nobr(ng-click="users.setSorterOrInverse(idSorter)") ID
            th
                a.nobr(ng-click="users.setSorterOrInverse(classYearSorter)") 期
            th
                a.nobr(ng-click="users.setSorterOrInverse(handleNameSorter)")
                    span.hidden-to-xs ハンドルネーム
                    span.hidden-from-sm HN
            th
                a.nobr(ng-click="users.setSorterOrInverse(fullNameSorter)") 氏名
            th.hidden-xs
                nobr メールアドレス
            th
                a.nobr(ng-click="users.setSorterOrInverse(statusSorter)")
                    span.hidden-to-xs 状態
                    span.hidden-from-sm 状

    tbody.tabale__body
        tr(ng-repeat="user in users.transformed()")
            td {{user.id}}
            td {{getClassYearLabel(user)}}
            td
                a(ui-sref="admin.user.detail({id: user.id})")
                    | {{user.handle_name}}
            td
                | {{user.full_name}}
            td.hidden-xs {{user.email}}
            td
                .text-center
                    button.button-unstyled.inline-block.tooltip.tooltip--left(
                        tooltip="{{userStatus(user).label}}"
                        ng-blur="userStatus(user).blur(user)"
                        ng-click="userStatus(user).event(user)")
                        .baricon.baricon--intext(
                            ng-class="userStatus(user).bariconClass")
                            .baricon__bar
                            .baricon__bar
                            .baricon__bar
