
table.table.table--bordered.table--condensed
    tr
        th.text-small
            nobr 状態
        td
            ul.tips.tips--nomargin
                li.tip(ng-class="{'tip--active': i.active}" ng-repeat="i in stateFilter.items")
                    a(ng-click="stateFilter.select(i)") {{::i.label}}
    tr
        th.text-small
            nobr 学年
        td
            ul.tips.tips--nomargin
                li.tip(ng-class="{'tip--active': i.active}" ng-repeat="i in classYearFilter.items")
                    a(ng-click="classYearFilter.select(i)") {{::i.label}}
    tr
        th.text-small
            nobr
                span.hidden-to-xs ハンドルネーム
                span.hidden-from-sm HN
                | /氏名
        td
            input.search.search--condensed(type="text" ng-model="nameFilter.value" placeholder="正規表現が使えます")

table.table.table--condensed
    thead.table__head
        tr
            th
                a(ng-click="orderBy('id')") ID
            th
                a(ng-click="orderBy('class_year_id')")
                    | 期
            th
                a(ng-click="orderBy('handle_name')")
                    span.hidden-to-xs ハンドルネーム
                    span.hidden-from-sm HN
            th
                a(ng-click="orderBy('full_name')")
                    | 氏名
            th.hidden-xs メールアドレス
            th
                a(ng-click="orderBy('-admin')")
                    span.hidden-to-xs 管理者
                    span.hidden-from-sm 管
            th
                a(ng-click="orderBy(predicateStatus)")
                    span.hidden-to-xs 状態
                    span.hidden-from-sm 状

    tbody.tabale__body
        tr(ng-repeat="user in users |filter: userFilter.search |orderBy: predicate: reversed")
            td {{user.id}}
            td {{getClassYearLabel(user)}}
            td
                a(ui-sref="admin.user.detail({id: user.id})")
                    | {{user.handle_name}}
            td
                | {{user.full_name}}
            td.hidden-xs {{user.email}}
            td
                div(ng-if="user.admin")
                    .text-center
                        i.fa.fa-user
            td
                .text-center(ng-include="status(user)")

script(type="text/ng-template" id="admin.user.list.status.active.html")
    span.tooltip.tooltip--left.accent-text(tooltip="active!")
        i.fa.fa-heart

script(type="text/ng-template" id="admin.user.list.status.pending.html")
    span.tooltip.tooltip--left(tooltip="メール認証待ち")
        i.fa.fa-times

script(type="text/ng-template" id="admin.user.list.status.waiting.html")
    a.tooltip.tooltip--left(tooltip="管理人承認待ち" ng-click="approveUser(user)")
        i.fa.fa-frown-o

script(type="text/ng-template" id="admin.user.list.status.approve_processing.html")
    button.button-unstyled.tooltip.tooltip--left.accent-text(tooltip="click to approve" ng-click="approveUser(user)")
        i.fa.fa-heart-o

script(type="text/ng-template" id="admin.user.list.status.annon.html")
    span.tooltip.tooltip--left(tooltip="不明な状態")
        i.fa.fa-question
