.table-responsive
    table.table
        thead.table__head
            tr
                th ID
                th 期
                th 名前
                th ハンドルネーム
                th 管理者
                th.hidden-xs メールアドレス
                th 状態
        tbody.tabale__body
            tr(ng-repeat="user in users")
                td {{user.id}}
                td {{getYear(user)}}
                td
                    a(ui-sref="admin.user.detail({id: user.id})")
                        | {{user.full_name}}
                td {{user.handle_name}}
                td
                    div(ng-if="user.admin")
                        .text-center
                            i.fa.fa-heart.accent-text
                td.hidden-xs {{user.email}}
                td
                    .text-center(ng-include="status(user)")


script(type="text/ng-template", id="admin.user.list.status.active.html")
    span.tooltip.tooltip--left.accent-text(tooltip="active!")
        i.fa.fa-heart

script(type="text/ng-template", id="admin.user.list.status.pending.html")
    span.tooltip.tooltip--left(tooltip="メール認証待ち")
        i.fa.fa-times

script(type="text/ng-template", id="admin.user.list.status.waiting.html")
    a.tooltip.tooltip--left(tooltip="管理人承認待ち" ng-click="approveUser(user)")
        i.fa.fa-frown-o

script(type="text/ng-template", id="admin.user.list.status.approve_processing.html")
    a.tooltip.tooltip--left.accent-text(tooltip="click to approve" ng-click="approveUser(user)")
        i.fa.fa-heart-o

script(type="text/ng-template", id="admin.user.list.status.annon.html")
    span.tooltip.tooltip--left(tooltip="不明な状態")
        i.fa.fa-question
