
table.table.table--bordered.table--condensed
    tr
        th.text-small
            nobr 状態
        td
            ul.tips.tips--nomargin
                li.tip(ng-class="{'tip--active': i.active}" ng-repeat="i in stateFilter.items")
                    a(ng-click="stateFilter.select(i)") {{::i.label}}
    tr
        th.text-small
            nobr 学年
        td
            ul.tips.tips--nomargin
                li.tip(ng-class="{'tip--active': i.active}" ng-repeat="i in classYearFilter.items")
                    a(ng-click="classYearFilter.select(i)") {{::i.label}}
    tr
        th.text-small
            nobr
                span.hidden-to-xs ハンドルネーム
                span.hidden-from-sm HN
                | /氏名
        td
            input.search.search--condensed(type="text" ng-model="nameFilter.value" placeholder="正規表現が使えます")

table.table.table--condensed
    thead.table__head
        tr
            th
                a.nobr(ng-click="orderBy('id')") ID
            th
                a.nobr(ng-click="orderBy('class_year_id')") 期
            th
                a.nobr(ng-click="orderBy('handle_name')")
                    span.hidden-to-xs ハンドルネーム
                    span.hidden-from-sm HN
            th
                a.nobr(ng-click="orderBy('full_name')") 氏名
            th.hidden-xs
                nobr メールアドレス
            th
                a.nobr(ng-click="orderBy(predicateStatus)")
                    span.hidden-to-xs 状態
                    span.hidden-from-sm 状

    tbody.tabale__body
        tr(ng-repeat="user in users |filter: userFilter.search |orderBy: predicate: reversed")
            td {{user.id}}
            td {{getClassYearLabel(user)}}
            td
                a(ui-sref="admin.user.detail({id: user.id})")
                    | {{user.handle_name}}
            td
                | {{user.full_name}}
            td.hidden-xs {{user.email}}
            td
                .text-center
                    button.button-unstyled.inline-block.tooltip.tooltip--left(
                        tooltip="{{userStatus(user).label}}"
                        ng-blur="userStatus(user).blur(user)"
                        ng-click="userStatus(user).event(user)")
                        .baricon.baricon--intext(
                            ng-class="userStatus(user).bariconClass")
                            .baricon__bar
                            .baricon__bar
                            .baricon__bar
