.topfix
.container
    .col-sm-10.col-sm-offset-1
        h1 Signup

        form.form.row(role="form", ng-submit="performSignup()")
            .panel
                .panel__body
                    .form__group
                        .col-sm-4
                            label.form__label(for="signupInputFamilyName") 苗字
                        .col-sm-8
                            input.form__control(type="text", ng-model="user.family_name", id="signupInputFamilyName", placeholder="苗字")
                    .form__group
                        .col-sm-4
                            label.form__label(for="signupInputGivenName") 名前
                        .col-sm-8
                            input.form__control(type="text", ng-model="user.given_name", id="signupInputGivenName", placeholder="名前")
                    .form__group
                        .col-sm-4
                            label.form__label(for="signupInputHandleName") ニックネーム
                        .col-sm-8
                            input.form__control(type="text", ng-model="user.handle_name", id="signupInputHandleName", placeholder="ニックネーム")
                    .form__group
                        .col-sm-4
                            label.form__label(for="signupInputBirthday") 生年月日
                        .col-sm-8
                            input.form__control(type="date", ng-model="user.birthday", id="signupInputBirthday")
                    .form__group
                        .col-sm-4
                            label.form__label(for="signupInputEmail") ELSMメール
                        .col-sm-8
                            input.form__control(type="email", ng-model="user.email", id="signupInputEmail", ng-pattern="/^[A-Za-z0-9._%+-]+@ec.hokudai.ac.jp$/", placeholder="example@ec.hokudai.ac.jp")

                    .form__group
                        .col-sm-4
                            label.form__label(for="signupInputEmailMobile") 携帯メール
                        .col-sm-8
                            input.form__control(type="email", ng-model="user.email_mobile", id="signupInputEmailMobile", placeholder="携帯メール")

                    .form__group
                        .col-sm-4
                            label.form__label(for="signupInputYear") 期を選択
                        .col-sm-8
                            select.form__control(ng-model="user.class_year" ng-options="year.year as year.year for year in years")

                    .form__group
                        .col-sm-4
                            label.form__label(for="signupInputPassword") パスワード
                        .col-sm-8
                            input.form__control(type="password", ng-model="user.password", id="signupInputPassword", placeholder="パスワード")

                    .form__group
                        .col-sm-4
                            label.form__label(for="signupInputPassword") パスワードの確認
                        .col-sm-8
                            input.form__control(type="password", ng-model="reenteredPassword", id="signupInputPassword", placeholder="確認のためパスワードをもう一度入力")

                .panel__foot.row
                    .col-sm-offset-4.col-sm-8
                        button.btn.btn--primary(type="submit") Signup

