h2 管理トップ
p
    strong 全ての項目に要素の削除手段が存在しますが、特殊なケースを除いて削除は実行しないでください。
ul
    li
        h3
            a(href="/admin/user") ユーザー
        p
            | ユーザーの認証・変更（氏名/ハンドルネーム/ELMSメールアドレス/管理権限）・削除ができます
    li
        h3
            a(href="/admin/class_year") 学年
        p
            | 学年の追加・変更・削除ができます
    li
        h3
            a(href="/admin/subject") 教科
        p
            | 教科の追加・変更・削除ができます
    li
        h3
            a(href="/admin/semester") 学期
        p
            | 学年と学期に対応した教科のマップです
            | 教科の追加・変更・削除ができます
    li
        h3
            a(href="/admin/news") お知らせ
        p
            | お知らせの追加・変更・削除ができます
