h2 管理トップ
ul
    li
        h3
            a(href="/admin/user") ユーザー
        p
            | ユーザーの認証・削除・管理者昇格/降格
    li
        h3
            a(href="/admin/class_year") 学年
        p
            | 学年の追加・削除・修正
    li
        h3
            a(href="/admin/subject") 教科
        p
            | 教科の追加・削除・修正
