p
    a(href="/admin/semester") 一覧へ戻る
    
loading(show="{{!(rejected || resolved)}}")

p(v-if="rejected") 該当する学期が見つかりませんでした。

div(v-if="semester")
    h2  {{semYear(semester)}}期の{{semName(semester)}}
    .tabs
        .tab(v-class="'tab-active': viewMode === 'detail'")
            a(href="/admin/semester/{{semester.id}}") 標準
        .tab(v-class="'tab-active': viewMode === 'json'")
            a(href="/admin/semester/{{semester.id}}/json") JSON
        .tab(v-class="'tab-active': viewMode === 'edit'")
            a(href="/admin/semester/{{semester.id}}/edit") 編集
        .tab(v-class="'tab-active': viewMode === 'delete'")
            a(href="/admin/semester/{{semester.id}}/delete") 削除

    .spacer
    

    div(v-if="viewMode === 'json'")
        pre
            code {{semester | json}}
    
    table.table(v-if="viewMode === 'detail'")
        tr
            th ID
            td {{semester.id}}
        tr
            th 入学期
            td {{semYear(semester)}}期
        tr
            th 学期
            td {{semName(semester)}}
        tr
            th 履修教科
            td
                ul.list-inline.list-nomb(v-if="semester.subject_ids.length > 0")
                    li(v-repeat="subject: semSubjects(semester)")
                        | {{subject.title_ja}}
                .text-muted(v-if="semester.subject_ids.length === 0") 教科が選択されていません
        tr
            th 作成日時
            td {{semester.created_at}}
        tr
            th 更新日時
            td {{semester.updated_at}}
    
    .row(v-if="viewMode === 'delete'")
        model-delete(model="{{semester}}" next="/admin/semester")


div(v-show="viewMode === 'edit'")
    div(v-view="admin_edit")
