ul.list-inline
    li
        h1
            | プロフィール
    li
        a.btn.btn--primary(ui-sref="profile.edit" tooltip="プロフィールを編集する")
            i.fa.fa-pencil
            | &nbsp;編集
    li
        a.btn.btn--secondary(ui-sref="profile.password" tooltip="プロフィールを編集する")
            i.fa.fa-key
            | &nbsp;パスワードの変更
p(ng-if="user.admin") あなたは管理者です。
table.table.table--bordered.no-mb
    tbody
        tr
            th ハンドルネーム
            td {{user.handle_name}}
        tr
            th 氏名
            td {{user.full_name}}
        tr
            th 学年
            td {{::getClassYearLabel(user)}}期
        tr
            th メールアドレス
            td {{user.email}}
        tr
            th 携帯メールアドレス
            td {{user.email_mobile}}
        tr
            th 誕生日
            td {{user.birthday | date:'yyyy年MM月dd日'}}
        tr(ng-show="showDetail")
            th 登録日時
            td {{user.created_at | date:'yyyy年MM月dd日HH時mm分ss秒'}}
        tr(ng-show="showDetail")
            th 更新日時
            td {{user.updated_at | date:'yyyy年MM月dd日HH時mm分ss秒'}}
        tr(ng-show="showDetail")
            th 最終アクティビティ
            td {{user.last_activity_at | date:'yyyy年MM月dd日HH時mm分ss秒'}}
        tr(ng-show="showDetail")
            th 最終ログイン
            td {{user.last_login_at | date:'yyyy年MM月dd日HH時mm分ss秒'}}
        tr(ng-show="showDetail")
            th 最後にログインしたIPアドレス
            td {{user.last_login_from_ip_address}}
        tr(ng-show="showDetail")
            th 最終ログアウト
            td {{user.last_logout_at | date:'yyyy年MM月dd日HH時mm分ss秒'}}

p.text-right
    a(ng-click="showDetail = ! showDetail")
        span(ng-if="!showDetail") 詳細を表示
        span(ng-if="showDetail") 詳細を隠す
