.main
    .hero
        .hero-bg
        h1.hero-title HOKUI.NET
        .hero-elocution
            | This is brand new hokui.net powered by Rails and Angular.js.
            ul.list-inline
                li
                    a(ui-sref="login") Sign in
                li |
                li
                    a(ui-sref="signup") Sign up

    .container-fluid

        .panel.panel-default
            .panel-heading
                h3 {{status}}
            .panel-body
                p {{message}}
                div(ng-if="!!Token.get()")
                    h3 Your token
                    dl.dl-horizontal
                        dt token
                        dd {{Token.get()}}
                div(ng-if="current.active")
                    h3 Your profile
                    dl.dl-horizontal
                        dt(ng-repeat-start="(k, v) in current.user") {{k}}
                        dd(ng-repeat-end) {{v}}



