.main
    .hero
        .hero-bg
        h1.hero-title HOKUI.NET
        .hero-elocution
            | This is brand new hokui.net powered by Rails and Angular.js.
            ul.list-inline
                li
                    a(ui-sref="login") Sign in
                li |
                li
                    a(ui-sref="signup") Sign up

    .well
        a.btn.btn-default(ui-sref="admin") go to admin
        p try to access with non-admin and unregistered user

    .container-fluid

        .panel.panel-default(ng-if="Auth.active()")
            .panel-heading
                h3 you are active as {{Auth.user().handle_name}}
            .table-responsive
                table.table.table-horizontal
                    tr
                        th token
                        td
                            .bread-word {{Token.get()}}
                    tr(ng-repeat="(k, v) in Auth.user()")
                        th {{k}}
                        td {{v}}
        div(ng-if="!Auth.active()")
            p you are inactive

