.form__group
    label.form__label 種別
    .panel
        .panel__body
            .form__group
                .pull-left
                    input.form__control(type="radio" ng-model="answer" id="docUploadCodeQuestion" ng-value="0")
                    label.form__label(for="docUploadCodeQuestion") 問題
                .pull-left
                    input.form__control(type="radio" ng-model="answer" id="docUploadCodeAnswer" ng-value="1")
                    label.form__label(for="docUploadCodeAnswer") 解答

            .form__group
                select.form__control(ng-model="inning" ng-options="v.value as v.label for v in inningList")
