.form__group
    label.form__label 種別
    .panel
        .panel__body
            .form__group
                select.form__control(ng-model="inning" ng-options="v.value as v.label for v in inningList")
