.header
    .header-title
        | H
        span.accent-character O
        | KUI.NET
        
.header-shaddow
    
.row(v-view="content")
        
.footer
    .footer-items
        .footer-item-text
            a(href="/") Top
        .footer-item-text
            a(href="/help") Help
        .footer-item-text(v-show="active")
            a(href="/credit") Credit
        .footer-item-text(v-show="active")
            a(href="/logout") Logout
        .footer-item-text Developing on
        a.footer-item.tooltip.tooltip-top(tooltip="Github" href="https://github.com/hokui/hokui.net" target="_blank")
            img(src=require("../../assets/octocat.png"))
        .footer-item-text Powered by
        a.footer-item.tooltip.tooltip-top(tooltip="Ruby on Rails" href="http://rubyonrails.org/" target="_blank")
            img(src=require("../../assets/rails.png"))
        a.footer-item.tooltip.tooltip-top(tooltip="Vue.js" href="http://vuejs.org/" target="_blank")
            img(src=require("../../assets/vue.png"))
