p
    a(href="/admin/class_year") 一覧へ戻る
    
loading(show="{{!(resolved || rejected)}}")

p(v-show="rejected") 該当する学年が見つかりませんでした。

div(v-if="cy")
    h2 {{cy.year}}期
    .tabs
        .tab(v-class="'tab-active': viewMode === 'detail'")
            a(href="/admin/class_year/{{cy.id}}") 標準
        .tab(v-class="'tab-active': viewMode === 'json'")
            a(href="/admin/class_year/{{cy.id}}/json") JSON
        .tab(v-class="'tab-active': viewMode === 'edit'")
            a(href="/admin/class_year/{{cy.id}}/edit") 編集
        .tab(v-class="'tab-active': viewMode === 'delete'")
            a(href="/admin/class_year/{{cy.id}}/delete") 削除

    .spacer
    

    div(v-show="viewMode === 'json'")
        pre
            code {{cy | json}}
    
    table.table(v-show="viewMode === 'detail'")
        tr
            th ID
            td {{cy.id}}
        tr
            th 学年
            td {{cy.year}}
        tr
            th 作成日時
            td {{cy.created_at}}
        tr
            th 更新日時
            td {{cy.updated_at}}
            
    .row(v-show="viewMode === 'delete'")
        model-delete(model="{{cy}}" next="/admin/class_year")

            
div(v-show="viewMode === 'edit'")
    div(v-view="admin_edit")
