development:
  uploaded_files_dir: "/YOUR/PROJECT/ROOT/misc/uploaded"
  mailing_list_host: "localhost:3001"
  mailing_list_user: "hoge"
  mailing_list_pass: "fuga"

production:
  uploaded_files_dir: "/SOMEWHERE/IN/THE/SERVER"
  mailing_list_host: "ml.YOURDOMAIN.com"
  mailing_list_user: "hoge"
  mailing_list_pass: "fuga"

test:
  uploaded_files_dir: "/tmp"
  mailing_list_host: "localhost:3001"
  mailing_list_user: "hoge"
  mailing_list_pass: "fuga"
