ul.list-inline
    li
        h3 {{classYears.retrieve(semester.class_year_id).year}}期 - {{identifierMap[semester.identifier]}}
    li
        a.btn.btn--sm.btn--primary(ui-sref=".edit") 編集
    li
        button.btn.btn--sm.btn--accent(type="button", ng-click="deleteSemester()") {{deleteBtnLabel()}}
            span(ng-show="!deleting") 削除する
            span(ng-show="deleting") マジで削除する
    li(ng-if="deleting")
        button.btn.btn--sm(type="button", ng-click="stopDeleting()") やっぱりやめる

table.table.table--bordered
    tr
        th ID
        td {{semester.id}}
    tr
        th 学期
        td {{identifierMap[semester.identifier]}}
    tr
        th 学年
        td
            a(ui-sref="admin.year.detail({id:semester.class_year_id})")
                | {{classYears.retrieve(semester.class_year_id).year}}期
    tr
        th 教科
        td
            ul
                li(ng-repeat="subject_id in semester.subject_ids")
                    a(ui-sref="admin.subject.detail({id:subject_id})")
                        | {{subjects.retrieve(subject_id).title_ja}}
    tr
        th 作成
        td {{semester.created_at | date:'yyyy年MM月dd日HH時mm分'}}
    tr
        th 更新
        td {{semester.updated_at | date:'yyyy年MM月dd日HH時mm分'}}

div.admin-year-edit-view(ui-view="edit")

