p
    a.btn.btn--sm.btn--primary(ui-sref=".new" ui-sref-opts="{inherit: false}") 新規作成

table.table.table--bordered.table--condensed
    tr
        th.text-small
            nobr 入学期
        td
            ul.tips.tips--nomargin
                li.tip(ng-class="{'tip--active': !classYearFilter.active()}")
                    a(ng-click="classYearFilter.active(false)") すべて
                li.tip(ng-class="{'tip--active': f.active()}" ng-repeat="f in classYearFilter.children()")
                    a(ng-click="f.active(true)") {{::f.label}}
    tr
        th.text-small
            nobr 履修学年
        td
            ul.tips.tips--nomargin
                li.tip(ng-class="{'tip--active': !yearFilter.active()}")
                    a(ng-click="yearFilter.active(false)") すべて
                li.tip(ng-class="{'tip--active': f.active()}" ng-repeat="f in yearFilter.children()")
                    a(ng-click="f.active(true)") {{::f.label}}

    tr
        th.text-small
            nobr 前期・後期
        td
            ul.tips.tips--nomargin
                li.tip(ng-class="{'tip--active': !abFilter.active()}")
                    a(ng-click="abFilter.active(false)") すべて
                li.tip(ng-class="{'tip--active': f.active()}" ng-repeat="f in abFilter.children()")
                    a(ng-click="f.active(true)") {{::f.label}}
    tr
        th.text-small
            nobr 教科
        td
            input.search.search--condensed(
                ng-model="subjectFilter.value"
                placeholder="正規表現が使えます"
                ng-model-options="{ debounce: {'default': 500, 'blur': 0} }")

table.table.table--condensed
    thead.table__head
        tr
            th ID
            th 学年 - 学期
            th 教科
    tbody.table__body
        tr(ng-repeat="semester in semesters.transformed()")
            td {{semester.id}}
            td
                a(ui-sref=".detail({id:semester.id})" ui-sref-opts="{inherit: false}")
                    | {{classYears.retrieve(semester.class_year_id).year}}期
                    | &nbsp;
                    | {{identifierMap[semester.identifier]}}

            td
                span(ng-repeat="subject_id in semester.subject_ids")
                    | {{subjects.retrieve(subject_id).title_ja}}
                    span(ng-if="!$last") 、&nbsp;

