ul.list-inline
    li
        h3 {{news.title}}
    li
        a.btn.btn--sm.btn--primary(ui-sref=".edit") 編集
    li
        button.btn.btn--sm.btn--accent(type="button", ng-click="deleteSubject()") {{deleteBtnLabel()}}
            span(ng-show="!deleting") 削除する
            span(ng-show="deleting") マジで削除する

    li(ng-if="deleting")
        button.btn.btn--sm(type="button", ng-click="stopDeleting()") やっぱりやめる

table.table.table--bordered
    tr
        th ID
        td {{news.id}}
    tr
        th タイトル
        td {{news.title}}
    tr
        th 本文
        td {{news.text}}
    tr
        th 作成
        td {{news.created_at | date:'yyyy年MM月dd日HH時mm分'}}
    tr
        th 更新
        td {{news.updated_at | date:'yyyy年MM月dd日HH時mm分'}}

div(ui-view="edit")
