p
    a.btn.btn--sm.btn--primary(ui-sref=".new") 新規作成

table.table.table--condensed
    thead.table__head
        tr
            th  ID
            th タイトル
            th 作成日時

    tbody.tabale__body
        tr(ng-repeat="news in newss.transformed()")
            td {{news.id}}
            td
                a(ui-sref="admin.news.detail({id:news.id})") {{news.title}}
            td {{news.updated_at | date:'yyyy年MM月dd日HH時mm分'}}

