.hero
    .topfix
    .hero--bg
    h1.hero--title HOKUI.NET
    .hero--elocution
        | This is brand new hokui.net powered by Rails and Angular.js.
        ul.list-inline
            li
                a(ui-sref="login") Sign in
            li |
            li
                a(ui-sref="signup") Sign up

.container

    p
        a.lead(ui-sref="style") スタイル確認用ページ




    h3 本ウェブサイトについて
    p.
        本ウェブサイトは、北海道大学医学部医学科に所属するみなさんが
        日々の学生生活をより豊かに過ごすことができるよう、設立されたものです。
        本ウェブサイトでは以下の機能を提供します。
    ul
        li 過去問・授業レジュメなど、各種資料の共有
        li Google Calenderとの連携
        li メーリングリスト

    p 管理者に要望すれば、新しい機能が追加されるかもしれません。

    h3 開発チーム
    ul
        li
            h5 @iTakeshi(Backend)
        li
            h5 @endaaman(Frontend)

    h3 お問い合わせ
    p
        | このサイトのご利用に際し、ご不明な点がありましたら、上記開発チームまたは
        span(ng-bind-html="email | linky")
        | までお問い合わせください。

