div
    a(ui-sref=".detail.edit({id: ''})") 新規作成

p
    .btn-group
        a.link.btn.btn-default(ng-repeat="year in indexOfClassYear",
                               ng-class="{'btn-primary': $index == currentIndexOfClassYear.index}",
                               ng-href="{{searchUrlForClassYear($index)}}") {{year.text}}
p
    .btn-group
        a.link.btn.btn-default(ng-repeat="subject in indexOfSubject",
                               ng-class="{'btn-primary': $index == currentIndexOfSubject.index}",
                               ng-href="{{searchUrlForSubject($index)}}") {{subject.text}}


table.table.table-bordered.table-condensed.table-hover
    thead
        tr
            th ID
            th 識別子
            th 学年
            th 教科
            th.hidden-xs 作成
            th.hidden-xs 更新
    tbody
        tr(ng-repeat="semester in semesters | filter:currentIndexOfClassYear.filter | filter:currentIndexOfSubject.filter")
            td {{semester.id}}
            td
                a(ui-sref="admin.semester.detail({id:semester.id})")
                    | {{semester.identifier}}
            td
                a(ui-sref=".({year:class_years.retrieve(semester.class_year_id).year})" ui-sref-opts="{inherit: false}")
                    | {{class_years.retrieve(semester.class_year_id).year}}期

            td
                ul
                    li(ng-repeat="subject_id in semester.subject_ids")
                        a(ui-sref=".({subject:subjects.retrieve(subject_id).title_en})" ui-sref-opts="{inherit: false}")
                            | {{subjects.retrieve(subject_id).title_ja}}

            td.hidden-xs {{semester.created_at | date:'yyyy年MM月dd日HH時mm分'}}
            td.hidden-xs {{semester.updated_at | date:'yyyy年MM月dd日HH時mm分'}}

