p
    a(ui-sref="^.^") 一覧に戻る
h2 {{documentFile.file_name}}
p.text-secondary
    | 現在編集機能は準備中です。変更を行いたい場合は一度削除した後、再投稿してください。

button.btn.btn--accent(ng-click="performDelete()")
    span(ng-show="!deleting") 削除する
    span(ng-show="deleting") 本当に削除しますか？
