p
    a.btn.btn--primary.btn--sm(ui-sref=".new") 新規アップロード

table.table.table--condensed.table--bordered(ng-if="transformed.length > 0")
    tr
        th 期
        th(ng-if="inningLabel") 回
        th(ng-if="isAnswer") 種別
        th ファイル
    tr(ng-repeat="doc in transformed" ng-if="doc.document_files.length > 0")
        td(ng-if="cyMap[$index] > 0" rowspan="{{cyMap[$index]}}")
            .text-center {{doc.class_year}}
        td(ng-if="inningLabel && codeMap[$index] > 0" rowspan="{{codeMap[$index]}}")
            .text-center {{inningLabel(doc.code)}}
        td(ng-if="isAnswer")
            .text-center(bind-model="isAnswer(doc.code, doc)" bind-true="'解答'" bind-false="'問題'")
        td
            .file-row(ng-repeat-start="file in doc.document_files")
                .file-caption
                    | {{file.file_name}}
                    
                .file-left-controls
                    .file-control
                        a(ng-href="{{urlForDocFileDownload(file)}}" target="_blank" download="{{file.file_name}}")
                            i.fa.fa-floppy-o
                            span(bind-model="!Responsive.xs || isSmartPhone"
                                 bind-true="'ダウンロード'"
                                 bind-false="'DL'")

                    .file-control(ng-if="previewable(file) && !isSmartPhone")
                        a(ng-href="{{urlForDocFileView(file)}}" target="_self")
                            i.fa.fa-eye
                            span.hidden-xs &nbsp;プレピュー
                            span.hidden-from-sm &nbsp;PV
                    .file-control(ng-if="user.id === file.user_id")
                        a(ui-sref=".detail.edit({documentFileId: file.id})" tooltip="編集")
                            i.fa.fa-cog
                            span &nbsp;編集

                .file-right-controls
                    .file-control
                        span.text-gray {{file.download_count}}回
                    .file-control
                        span.text-gray {{file.user.name}}

            hr.dotted(ng-repeat-end ng-if="!$last")


p(ng-if="transformed.length === 0") 資料がまだ投稿されていません。


//- .pull-right.text-right.downloaded {{file.download_count}}回
//- .pull-right
//-     | &nbsp;
//- .pull-right.text-right.uploader(tooltip="{{file.user.class_year}}期") {{file.user.name}}
