.topfix


.tab
    .tab__items
        .tab__items__item(ng-repeat="item in items", ng-class="{'tab__items__item--active': isActive(item)}")
            a(ui-sref="{{item.state}}") {{item.title}}

.container
    .admin-view(ui-view="main")

