table.table.table--bordered
    tr
        th
            a(ui-sref="admin.user") ユーザー
        td
            strong 取得
            | 、
            strong 管理人の認証(approve)
            | 、
            strong 削除
            | をすることができます。

    tr
        th
            a(ui-sref="admin.year") 学年
        td 93期以降から作成可能です。

    tr
        th
            a(ui-sref="admin.subject") 教科
        td
            | 英語名には
            strong 半角英数字と「_(アンダーバー)」
            | のみ設定できます。教科のページのURLに使われるので慎重に設定しましょう。

    tr
        th
            a(ui-sref="admin.semester") 学期
        td
            | 各学年のセメスター(前期・後期)ごとの履修科目のマップです。

    tr
        th
            a(ui-sref="admin.news") お知らせ
        td
            | お知らせの編集ができます。

    tr(ng-if="dev")
        th.nobr 開発用メニュー
        td
            ul.no-mb
                li
                    a(ui-sref="style") スタイルの確認
                li
                    a(ui-sref="activate({fake: true})") フェイク認証
                li
                    a(ui-sref="activate({fake: 'fail'})") フェイク認証(失敗)
