div(ng-if="!error")
    form.form-horizontal(role="form", ng-submit="saveYear()")
        .panel.panel-default
            .panel-heading
                h3 {{title}}
            .panel-body
                .form-group
                    label.control-label.col-md-2(for="yearInputYear") 期
                    .col-md-10
                        input.form-control(type="number", placeholder="期", id="yearInputEmail", ng-model="year.year")
            .panel-footer.clearfix
                .pull-left
                    div(ng-if="editing")
                        a.btn.btn-default(ui-sref="admin.year.detail({id: year.id})") 戻る
                    div(ng-if="!editing")
                        a.btn.btn-default(ui-sref="admin.year") 戻る
                .pull-right
                    button.btn.btn-primary(type="submit") 保存
                    button.btn.btn-danger(ng-if="editing", ng-click="deleteYear()") 削除

