a(ui-sref="admin.user") 一覧に戻る
alert(ng-if="!!error", type="warning") {{error}}

div(ng-if="!!user.id")

    ul.list-inline
        li
            button.btn.btn-sm.btn-primary(ng-disabled="!approvable(user)", ng-click="doApproveUser(user)") Approve
        li
            button.btn.btn-sm.btn-danger(ng-click="deleteUser(user)") {{deleteBtnLabel()}}
        li
            button.btn.btn-sm.btn-default(ng-if="deleting", ng-click="stopDeleting()") やっぱりやめる


    table.table.table-bordered.table-2col
        tbody
            tr(ng-repeat="(k, v) in user")
                th {{k}}
                td {{v}}

