a(ui-sref="admin.user") 一覧に戻る
alert(ng-if="!!error", type="warning") {{error}}

div(ng-if="!!user.id")

    ul.list-inline
        li
            button.btn.btn-sm.btn-primary(ng-disabled="!approvable(user)", ng-click="approve(user)") Approve
        li
            button.btn.btn-sm.btn-danger(ng-click="deleteUser(user)") Delete

    table.table.table-2col
        tbody
            tr(ng-repeat="(k, v) in user")
                th {{k}}
                td {{v}}

