.table-responsive
    table.table.table-bordered.table-condensed.table-hover
        thead
            tr
                th ID
                th 期
                th 名前
                th ハンドルネーム
                th 管理者
                th メールアドレス
                th 状態
        tbody
            tr(ng-repeat="user in users")
                td {{user.id}}
                td {{getYear(user)}}
                td
                    a(ui-sref="admin.user.detail({id: user.id})")
                        | {{user.full_name}}
                td {{user.handle_name}}
                td
                    div(ng-if="user.admin")
                        .text-center
                            i.fa.fa-heart.heart-pink
                td {{user.email}}
                td
                    .text-center(ng-include="status(user)")


script(type="text/ng-template", id="admin.user.list.status.active.html")
    i.fa.fa-heart.link.heart-pink(tooltip="active!",  tooltip-placement="right")

script(type="text/ng-template", id="admin.user.list.status.pending.html")
    i.fa.fa-times.link(tooltip="メール認証待ち",  tooltip-placement="right")

script(type="text/ng-template", id="admin.user.list.status.waiting.html")
    i.fa.fa-frown-o.link(tooltip="管理人承認待ち",  tooltip-placement="right", ng-click="approveUser(user)")

script(type="text/ng-template", id="admin.user.list.status.approve_processing.html")
    i.fa.fa-heart-o.link.heart-pink(tooltip="click to approve",  tooltip-placement="right", ng-click="doApproveUser(user)")

script(type="text/ng-template", id="admin.user.list.status.annon.html")
    i.fa.fa-question.link(tooltip="不明な状態",  tooltip-placement="right")
