.table-responsive
    table.table.table-bordered.table-condensed.table-hover
        thead
            tr
                th ID
                th 期
                th 名前
                th ハンドルネーム
                th 管理者
                th メールアドレス
                th 認証
        tbody
            tr(ng-repeat="user in users")
                td {{user.id}}
                td {{getYear(user.class_year_id)}}
                td
                    a(ui-sref="admin.user.detail({id: user.id})")
                        | {{user.full_name}}
                td {{user.handle_name}}
                td
                    div(ng-if="user.admin")
                        .text-center
                            i.fa.fa-heart.heart-pink
                td {{user.email}}
                td
                    div(ng-switch="user.approval_state")
                        div(ng-switch-when="approved")
                            .text-center
                                i.fa.fa-heart.link.heart-pink(tooltip="active!",  tooltip-placement="right")
                        div(ng-switch-when="waiting")
                            div(ng-switch="user.activation_state")
                                div(ng-switch-when="pending")
                                    .text-center
                                        i.fa.fa-times.link(tooltip="本人待ち", tooltip-placement="right")
                                div(ng-switch-when="active")
                                    .text-center
                                        i.fa.fa-frown-o.link(tooltip="管理人待ち", tooltip-placement="right")
