
.col-sm-12.col-md-10.col-md-push-1

    h1 Welcome to hokui.net
    h2 おしらせ
    pre
        code {{newss|json}}
    //- ul.news(v-if="newss")
    //-     li(v-repeat="news: newss")
    //-         pre {{news | json}}
