.topfix
.container
    h1 ユーザーガイド
    h2 このサイトについて
    p
        | このサイトは、北海道大学医学部医学科に所属するみなさんが、日々の学生生活をより豊かに過ごすことができるように設立されたものです。
        br
        | 私達は、以下の機能を提供します。
    ul
        li 過去問・授業レジュメなど、各種資料の共有 → Study
        li 英単語チェックテスト → Vocabulary Check
        li Google Calenderとの連携 → Calendar
        li メーリングリストとの連携 → Mailing List
    p 管理者に要望すれば、新しい機能が追加されるかもしれません。
    h2 対応環境
    p Angular.js 1.2.23準拠

    h2 注意

    p
    | ここに書かれている対応状況は、開発者が実際に確認したもののみを記載してあります。
    | 記載されているものに対し、すべての動作を保証するものではありません。
    | また、記載されていない環境では利用できないということを意図するものでもありません。
    | ご利用の環境における動作状態などをお知らせいただけると助かります。
    h2 開発チーム
    ul
        li @iTakeshi Backend Development
        li @endaaaman Frontend Development

    h2 お問い合わせ
    p
        | このサイトのご利用に際し、ご不明な点がありましたら、上記開発チームまたは
        span(ng-bind-html="email | linky")
        | までお問い合わせください。

