.topfix
.container
    h1 ユーザー認証
    .well.well--lg(ng-include="template")
    p(ng-if="completed")
        a.btn.btn--primary(ui-sref="home") トップに戻る



script(type="text/ng-template" id="activate.processing.html")
    p 処理中...


script(type="text/ng-template" id="activate.success.html")
    p
        | 認証に成功しました。
        strong 管理者が本人確認を行った後
        | ログイン可能になります。確認後は通知のメールを送信いたします。
    p
        | 何かご不明な点などあれば、
        a(ng-bind-html="'hokui.net@gmail.com' | linky")
        | までお問い合わせください。




script(type="text/ng-template" id="activate.error.html")
    p すでに認証が行われているか、無効なURLです。
    p
        | 何かご不明な点などあれば、
        a(ng-bind-html="'hokui.net@gmail.com' | linky")
        | までお問い合わせください。
