.topfix
.container
    .col-sm-10.col-sm-offset-1
        h2 ログイン
        p(ng-if="!!message") {{message}}

        form.form(role="form", ng-submit="performLogin()")
            .panel
                .panel__body
                    .form__group
                        .col-sm-2
                            label.form__label(for="loginInputEmail") Email
                        .col-sm-10
                            input.form__control(type="email", placeholder="Enter email", id="loginInputEmail", ng-model="credencials.email")
                    .form__group
                        .col-sm-2
                            label.form__label(for="loginInputPassword") Password
                        .col-sm-10
                            input.form__control(type="password", id="loginInputPassword", placeholder="Password", ng-model="credencials.password")
                .panel__foot
                    .form__group
                        .col-sm-10.col-sm-offset-2
                            button.btn.btn--primary(type="submit") Login

