.topfix
.container
    h2 ログイン
    p(ng-if="!!message") {{message}}

    form.form-horizontal(role="form", ng-submit="performLogin()")
        .panel.panel-default
            .panel-body
                .form-group
                    label.control-label.col-md-2(for="loginInputEmail") Email address
                    .col-md-10
                        input.form-control(type="email", placeholder="Enter email", id="loginInputEmail", ng-model="credencials.email")
                .form-group
                    label.control-label.col-md-2(for="loginInputPassword") Password
                    .col-md-10
                        input.form-control(type="password", id="loginInputPassword", placeholder="Password", ng-model="credencials.password")
            .panel-footer
                .form-group
                    .col-md-10.col-md-offset-2
                        button.btn.btn-primary(type="submit") Login

